/.yarn/**            linguist-vendored
/.yarn/releases/*    binary
/.yarn/plugins/**/*  binary
/.pnp.*              binary linguist-generated

# Use bd merge for beads JSONL files
.beads/issues.jsonl merge=beads
crates/fork_wasm/pkg-web-threads/snippets/wasm-bindgen-rayon-*/src/workerHelpers.js text eol=lf
